* {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px
}

body{
    margin: 0;
}

#m-style {
    background: #fff;
    color: #1c1e21;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    /* height: 100vh; */
    /* position: relative; */}

#m-style .container {
    display: flex !important;
    height: 100vh;
    min-height: 550px;
    display: table-cell;
    vertical-align: middle;
    font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 300
;justify-content: space-between;align-items: baseline;flex-direction: column;}

#m-style .container,
.main {
    width: 100%;
    margin: auto;
    display: block;
    /* margin-top: 20px; */
}

.image {
    align-items: center;
    display: flex;
    justify-content: center;
    min-width: 100%;
}

.image img {
    display: block;
    margin: auto;
    width: 145px;
    height: auto;
}

.main-title {
    text-align: center;
    font-size: 3em;
    margin: 15px;
}

.description {
    color: #000;
    font-size: 1.4em;
    font-weight: 400;
    text-align: center;
    font-family: Calibre, Helvetica Neue, Segoe UI, Helvetica, Arial, Lucida Grande, sans-serif;
}

form {
    padding: 0;
    margin: 32px 0 0
}

.container form input {
    border: 1px solid #0003;
    border-radius: 4px;
    color: #000;
    display: block;
    font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 17px;
    height: 42px;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px;
    width: 286px
}

.container form button {
    background: #0a7cff;
    border-radius: 50px;
    color: #fff;
    padding: 9.5px 20px;
    font-size: 1.4em;
    font-weight: 400;
    margin: 24px auto;
    border: none;
    display: flex;
}



.footer {
    bottom: 0;
    font-size: 11px;
    margin-bottom: 12px;
    /* position: absolute; */
    text-align: center;
    width: 100%
}

a {
    cursor: pointer;
    text-decoration: none
}


.container .footer a {
    color: #262626;
    font-size: 15px;
    font-weight: 400;
    margin-right: 15px;
}
